*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    /* background: rgb(34, 34, 34); */
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.card{
    min-height: 80vh;
    width: 55rem;
    /* background: rgb(201, 52, 52); */
    border-radius: 30px;
    padding: 0rem 5rem;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0 0 50px rgba(0,0,0,0.2);
}
.sneaker{
    min-height: 35vh;
    display: flex;
    align-content: center;
    justify-content: center;
}
.sneaker img{
    width: 35rem;
    z-index: 2;
}
.circle{
    width: 15rem;
    height: 15rem;
    background: linear-gradient(
        to right,
        rgba(192, 24, 24, 0.75),
        rgb(34, 34, 34,0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.info h1{
    font-size: 3rem;
}
.info h5{
    font-size: 1.3rem;
    padding: 1.5rem 0rem;
    color: gray;
    font-weight: lighter;
}
.sizes{
    display: flex;
    justify-content: space-between;
}
.sizes button{
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}
button.active{
    background: black;
    color: white;
}
.purchase{
    margin: 2rem 0rem;
}
.purchase button{
    width: 100%;
    padding: 1rem 0rem;
    margin: 0.5rem 0rem;
    background: rgba(192, 24, 24, 0.95);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
}